body
{
    background-color: lightgray;
    text-align: center;
}

div
{
    width: 40%;
    margin: auto;
    background-color: rgba(41, 129, 211, 0.685);
    border: 5px solid black ;
}


li
{
    list-style-type: none;
}


h1{
    font-family: 'Merriweather', serif;
}

button
{
    background-color:#3a0ca3;
    color: white;
    margin: 10px;

}

button:hover
{
    color:#d90429;
    
}

ul{
    margin-right: 50px;
}